html,body{
    height: 100%;
    padding:0;
    margin: 0;
}
#googleMap{
    min-width: 200px;
    /*width: 50%;*/
    min-height: 200px;
    height: 400px;
    width: 500px;
    /*height: 100%;*/
    border: 1px lightblue;
}
div {
    margin-right: auto;
    margin-left: auto;
}
.container{
    padding-bottom: 1px;
    padding-top: 1px;
}
/*.row{*/
    /*padding-bottom: 10px;*/
    /*padding-top: 10px;*/
/*}*/
.angular-google-map-container {
    height: 400px;
    margin-bottom: 15px;
}

.panel-primary {
    padding: 15px;
}
.selectPicker{
    width: 100%;
    padding: 30px 20px;
    border: none;
    border-radius: 2px;
    background-color: #f1f1f1;
}
.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}

.check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
}
