<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GuideMi front page">
    <meta name="author" content="Alvaro Balboa">
    <title>GuideMi - a guide to the world around you</title>


    <!-- Bootstrap Core CSS -->
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="/css/freelancer.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" >
    <link href="/css/photoslide.css" rel="stylesheet">
    <!--<link href="/css/map.css" rel="stylesheet">-->


    <script>document.write('<base href="' + document.location + '" />');</script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>-->
    <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-semver="1.2.17"></script>
    <script data-require="google-maps@1.0.0" data-semver="1.0.0" src="https://maps.google.com/maps/api/js?libraries=places&key={{googleMapApiKey}}"></script>
    <script data-require="lodash-underscore@*" data-semver="2.4.1" src="https://rawgit.com/lodash/lodash/2.4.1/dist/lodash.underscore.min.js"></script>
    <script data-require="angular-google-maps@*" data-semver="1.1.4" src="https://rawgit.com/nlaplante/angular-google-maps/1.1.4/dist/angular-google-maps.min.js"></script>
    <!--<script src="javascript/app.js"></script>-->
    <!--<script src="/javascript/map.js"></script>-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to Top</a></div>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <!--NAMING THE TOP BAR-->
            <a class="navbar-brand" href="#page-top">GuideMi</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#map">Map</a>
                </li>
                <li class="page-scroll">
                    <a href="#in_the_city">In The City</a>
                </li>
                <li class="page-scroll">
                    <a href="#page-top">{{username}}</a>
                </li>
            </ul>
            <img src="{{profilePicture}}"/>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <!--This is the section where I will have user submitted photos slideshow but for now just stock photos-->
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row text-center">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="/img/stockphoto.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="/img/replaced.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="/img/user_pictures.jpg">
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h2 class="name">Guide Mi</h2>
            <hr class="star-light">
            <span class="skills">An easy guide to the world around you</span>
        </div>
    </div>
</header>

<!-- Map Form and Results Section -->
<section id="map">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color:#46b8da" >Map me to it</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div ng-app="mapApp">
            <div class="panel panel-default" ng-controller="mainController">
                <div class="panel-body">
                    <google-map control="map.control" center="map.center" zoom="map.zoom" options="options">
                    </google-map>
                    <form class="form-horizontal" role="form" id="directionsID">
                        <div class="form-group">
                            <label for="origin" class="col-sm-2 control-label">Origin</label>
                            <div class="col-sm-8">
                                <input type="text" id="origin" class="form-control" ng-model="directions.origin" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="destination" class="col-sm-2 control-label">Destination</label>
                            <div class="col-sm-8">
                                <input type="text" id="destination" class="form-control" ng-model="directions.destination" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" class="btn btn-primary" ng-click="getDirections()">Get Directions</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="attraction_type" class="col-sm-2 control-label" >Attraction</label>
                        <div class="col-sm-8">
                            <select class="selectPicker" id="attraction_type" ng-model="attraction_type" ng-change="getAttraction();" onchange="displayList();">
                                <option value="art_gallery">Art Gallery</option>
                                <option value="mosque">Mosque</option>
                                <option value="museum">Museum</option>
                                <option value="casino">Casino</option>
                                <option value="park">Park</option>
                                <option value="church">Church</option>
                                <option value="stadium">Stadium</option>
                                <option value="synagogue">Synagogue</option>
                                <option value="zoo">Zoo</option>
                                <option value="hindu_temple">Hindu Temple</option>
                            </select>
                        </div>
                </div>
                <br/>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="panel price panel-blue">
                                <div class="panel-heading  text-center">
                                    <h5>Art Galleries</h5>
                                    <h6>along the path</h6>
                                </div>
                                <ul class="list-group list-group-flush text-center" id="artList">
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="panel price panel-blue">
                                <div class="panel-heading  text-center">
                                    <h5>Mosques</h5>
                                    <h6>along the path</h6>
                                </div>
                                <ul class="list-group list-group-flush text-center" id="mosqueList">
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="panel price panel-blue">
                                <div class="panel-heading  text-center">
                                    <h5>Casinos</h5>
                                    <h6>along the path</h6>
                                </div>
                                <ul class="list-group list-group-flush text-center" id="casinoList">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="panel price panel-blue">
                                <div class="panel-heading  text-center">
                                    <h5>Stadiums</h5>
                                    <h6>along the path</h6>
                                </div>
                                <ul class="list-group list-group-flush text-center" id="stadiumList">
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="panel price panel-blue">
                                <div class="panel-heading  text-center">
                                    <h5>Synagogues</h5>
                                    <h6>along the path</h6>
                                </div>
                                <ul class="list-group list-group-flush text-center" id="synagogueList">
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="panel price panel-blue">
                                <div class="panel-heading  text-center">
                                    <h5>Zoos</h5>
                                    <h6>along the path</h6>
                                </div>
                                <ul class="list-group list-group-flush text-center" id="zooList">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="panel price panel-blue">
                                <div class="panel-heading  text-center">
                                    <h5>Museums</h5>
                                    <h6>along the path</h6>
                                </div>
                                <ul class="list-group list-group-flush text-center" id="museumList">
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="panel price panel-blue">
                                <div class="panel-heading  text-center">
                                    <h5>Parks</h5>
                                    <h6>along the path</h6>
                                </div>
                                <ul class="list-group list-group-flush text-center" id="parkList">
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="panel price panel-blue">
                                <div class="panel-heading  text-center">
                                    <h5>Churches</h5>
                                    <h6>along the path</h6>
                                </div>
                                <ul class="list-group list-group-flush text-center" id="churchList">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-8">
                    <button class="btn btn-primary" ng-click="showDiv=!showDiv">Show Directions</button>
                    <div class="check-element animate-show-hide" ng-show="showDiv">
                        <div id="directionsList" ng-show="directions.showList" class="panel panel-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- In The City Section --work in progress-- -->
<section class="success" id="in_the_city">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>In The City</h3>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p style="font-size: smaller">This section will hold huge cities that have many POIs, instead of showing along route will show within city limits</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <img src="img/DcPic.jpeg"/>
            </div>
            <div class="col-lg-4">
                <img src="img/parisPic.jpeg"/>
            </div>
            <br/>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <img src="img/SeattlePic.jpeg"/>
            </div>
            <div class="col-lg-4">
                <img src="img/vegasPic.jpeg"/>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section that will have an about me and project -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">

                <!--This little section is an about me area -->
                <div class="footer-col col-md-4">
                    <h3>Who I am</h3>
                    <img src=""/>
                    <p style="font-size: smaller">
                        Alvaro Balboa, combat veteran who served in the Army 32nd Engineer Battalion.
                    </p>
                    <p style="font-size: smaller">
                        Junior Software Developer looking for work and to continue learning programming languages.
                    </p>
                    <p style="font-size: smaller">
                        Looking to work for an organization that values hard work and determination so I can display my strengths.
                    </p>
                </div>

                <!--Link buttons for my websites-->
                <div class="footer-col col-md-4">
                    <h3>Find me on the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/AlvaroBalboa">GitHub</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/AlvaroFBalboa">Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/alvarobalboa/">LinkedIn</a>
                        </li>
                        <li>
                            <a href="mailto:alvarofbalboa@outlook.com">Email-Me</a>
                        </li>
                    </ul>
                </div>

                <!--A thank you section for class-->
                <div class="footer-col col-md-4">
                    <h3>Thank you Uncommon Coders</h3>
                    <p style="font-size: smaller">The java immersive boot camp has helped my get the much needed knowledge to begin a new career. Thank you Parakash, Mike, Trung, and all the staff of the program. If there are any other veterans hoping to find a beginning step in the field of coding or IT <a href="http://www.nvcc.edu/workforce/uncommon-coders/index.html">begin here</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <!--this is the footer section only has a small paragraph-->
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; GuideMi 2017
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- jQuery -->
<script src="/javascript/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="/js/freelancer.min.js"></script>

<!--<script src="https://maps.googleapis.com/maps/api/js?libraries_places&key={{googleMapApiKey}}"></script>﻿-->
<!--<script src="/javascript/angular.min.js"></script>-->
<!--<script async defer src="http://maps.google.com/maps/api/js?libraries_places&key={{googleMapApiKey}}"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>-->
<!--<script src="/javascript/angular.min.js"></script>-->
<!--<script src="/javascript/app.js"></script>-->
<!--<script src="/javascript/script.js"></script>-->
<script src="/javascript/page-script.js"></script>
<script src="/javascript/photoslider.js"></script>
<script src="javascript/app.js"></script>
<script src="javascript/displayList.js"></script>

<!--<script src="/javascript/jqueryMap.js"></script>-->

</body>

</html>
