<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>

    </nav>
</header>
<!--THIS will be an if statement for if logged in-->
<!--if he is then show lower div-->
<!--if not he has two option create or log in-->
<div>
    <!--logging in div-->
    <div>
        <div>




            <a href="https://www.facebook.com/v2.8/dialog/oauth?client_id={appId}&redirect_uri=http://localhost:8080/login">Login with Facebook</a>
        </div>

    </div>
    <!--create a user profile div-->
    <div>
        <div>

        </div>
    </div>
</div>









<!--This will be the bulk of the page showing the user info-->
<!--this will only show if there is a logged in person-->
<div>
    <div>
        <div>

        </div>
    </div>
</div>

<script src="../angularJSmini.js"></script>

</body>
</html>